{% extends 'base.html' %}

{% block title %}Category List{% endblock title %}

{% block content %}

    <h2 class="">Categories:</h2>
    {% for category in object_list %}
            <div class="row justify-content-around">
                <h4 class="col-10 p-2 border bg-dark"><a class="text-decoration-none text-info" href="{% url 'category_detail' category.pk %}">{{ category.name }}</a></h4>
            </div>
    {% endfor %}

<br><br>

    <h3 class="">Categories with no tasks:</h3>
    {% for category in object_list %}
            <div class="row justify-content-around">
                <h4 class="col-10 p-2 border bg-dark"><a class="text-decoration-none text-info" href="{% url 'category_detail' category.pk %}">{{ category.name }}</a></h4>
            </div>
    {% endfor %}

{% endblock content %}
