{% extends 'base.html' %}

{% load task_extras %}

{% block title %}Task List{% endblock title %}

{% block content %}
    <div class="row ">
        <p class="col-3 bg-warning p-3 border text-center">
            <b><a class="text-decoration-none" href="{% url 'task_dl' %}">
                Download All Tasks
            </a></b>
        </p>
        {% for task in object_list %}
            {% if task.status == '0' %}
                {% remain_time task.due_date as remained %}
                    {% if remained.0 != '-' %}
                        <div class="col-12 bg-light">
                            <h2><a class="text-info" href="{{ task.get_absolute_url }}">{{ task.title }}</a></h2>
                            <p>
                                {% if remained.1 != 'd' %}
                                    <b style="color:green">{{ remained }} | today</b>
                                {% elif remained.0 == '1' %}
                                    <b style="color:purple">{{ remained }} | tomorrow</b>
                                {% else %}
                                    <b style="color:gray">{{ remained }}</b>
                                {% endif %}
                            </p>
                            <input class="btn btn-success" type="submit" value="Finished">
                            <hr class="p-1 bg-dark"><br>
                        </div>
                    {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
